.services {
  max-width: 1280px;
  width: 100%;
  min-height: 600px;
  margin: auto;
  margin-top: 100px;
  padding: 30px 30px;
  background-color: #f5f5f5;
  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 26px;
    color: #42446e;
    text-align: center;
    margin-top: 50px;
  }
  .card-container {
    margin-top: 50px;
    max-width: 1220px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 66px;

    .service-card {
      max-width: 360px;
      width: 100%;
      min-height: 377px;

      border-radius: 20px;
      background-color: #fff;
      padding: 20px 20px;
      transition: all 0.3s ease;
      &:hover {
        border: 1px solid #bfc8e5;
        border-radius: 16px;
        box-shadow: 10px 7px 22px 0px rgba(218, 224, 249, 0.69);
        -webkit-box-shadow: 10px 7px 22px 0px rgba(218, 224, 249, 0.69);
        -moz-box-shadow: 10px 7px 22px 0px rgba(218, 224, 249, 0.69);
      }
      img {
        display: block;
        margin: 0px auto;
      }
      h3 {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        color: #42446e;
        opacity: 60%;
      }
      p {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
        color: #666666;
        min-height: 234px;
      }
    }
  }
}
@media (max-width: 768px) {
  .services {
    h2 {
      font-size: 35px;
      margin-top: 50px;
    }

    .card-container {
      flex-direction: column;

      .service-card {
        h3 {
          font-size: 15px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
